{% extends 'bdd/admin/home.html.twig' %}

{% block title 'Admin' %}

{% block content %}
        <div class="card">
            <div class="card-body">
                <h1>Gérer les disciplines</h1>
                <div class="text-right mb-3">
                    <a href="{{ path('admin.discipline.new') }}" class="btn btn-secondary">Ajouter</a>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Categorie</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for discipline in disciplines %}
                        <tr>
                            <td><a href="{{ path('admin.discipline.edit', {id:discipline.id}) }}" class="list-item-link">{{ discipline.title }}</a></td>
                            <td>{{ discipline.categorie }}</td>
                            <td>
                                <form method="post" action="{{ path('admin.discipline.delete', {id: discipline.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ discipline.id) }}">
                                    <button class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}