{% extends 'base.html.twig' %}

{% block title 'Admin' %}

{% block body %}
    <div class="container mt-4">
        {% for label, messages in app.flashes() %}
            {% for message in messages %}
                <div id="flash" class="alert alert-{{ label }}" role="alert">
                    <p class="message">Message flash : {{ message }}</p>
                </div>
            {% endfor %}
        {% endfor %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('admin.index') }}">Admin</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link {% if current_menu is defined and current_menu == 'cours' %}active{% endif %}" href="{{ path('admin.cours.index') }}">Cours</a>
                    <a class="nav-item nav-link {% if current_menu is defined and current_menu == 'teacher' %}active{% endif %}" href="{{ path('admin.teacher.index') }}">Enseignant</a>
                    <a class="nav-item nav-link {% if current_menu is defined and current_menu == 'concours' %}active{% endif %}" href="{{ path('admin.concours.index') }}">Concours</a>
                    <a class="nav-item nav-link {% if current_menu is defined and current_menu == 'discipline' %}active{% endif %}" href="{{ path('admin.discipline.index') }}">Discipline</a>
                </div>
            </div>
        </nav>

    {% block content %}
        <div class="card">
            <div class="card-body">
                <div class="col-lg-4">
                    <h2>Les Enseignants</h2>
                    <p>Les 10 derniers enseignants ajoutés</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Discipline</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for teacher in teachers %}
                            <tr>
                                <td>{{ teacher.name }}</td>
                                <td>
                                    {% for d in teacher.disciplines %}
                                        <small>{{ d.title }}</small>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-right mb-3">
                        <a href="{{ path('admin.teacher.index') }}" class="btn btn-secondary">Voir tout</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $('select').select2();
    </script>
{% endblock %}
