<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BDD-Agreg_Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>

{% block body %}
    <div class="container">
        {% for label, messages in app.flashes() %}
            {% for message in messages %}
                <div id="flash" class="alert alert-{{ label }}" role="alert">
                    <p class="message">Message flash : {{ message }}</p>
                </div>
            {% endfor %}
        {% endfor %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('bdd') }}"><i class="fas fa-home"></i> Accueil</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link {% if current_menu is defined and current_menu == 'teacher' %}active{% endif %}" href="{{ path('admin.teacher.index') }}">Enseignant</a>
                    <a class="nav-item nav-link {% if current_menu is defined and current_menu == 'cours' %}active{% endif %}" href="{{ path('admin.cours.index') }}">Cours</a>
                    <a class="nav-item nav-link {% if current_menu is defined and current_menu == 'concours' %}active{% endif %}" href="{{ path('admin.concours.index') }}">Concours</a>
                    <a class="nav-item nav-link {% if current_menu is defined and current_menu == 'discipline' %}active{% endif %}" href="{{ path('admin.discipline.index') }}">Discipline</a>
                </div>
            </div>
        </nav>

    {% block content %}
        <div class="card">
            <div class="card-body">
                <div class="col-lg-4">
                    <h2>Les Enseignants</h2>
                    <p>Les 10 derniers enseignants ajoutés</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Discipline</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for teacher in teachers %}
                            <tr>
                                <td>{{ teacher.name }}</td>
                                <td><small>{{ teacher.discipline }}</small></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-right mb-3">
                        <a href="{{ path('admin.teacher.index') }}" class="btn btn-secondary">Voir tout</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    </div>

{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.12.0/js/all.js" integrity="sha384-S+e0w/GqyDFzOU88KBBRbedIB4IMF55OzWmROqS6nlDcXlEaV8PcFi4DHZYfDk4Y" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
{% block javascripts %}
    <script>
        $('select').select2();
    </script>
{% endblock %}
</body>
</html>


