{% if formation is defined %}
<div class="card">
    <div class="card-body">
        <h1>{{ formation.title }}</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cours</th>
                    <th>Heures</th>
                    <th style="width: 18%">Enseignant</th>
                </tr>
            </thead>
            <tbody>
            {% for cours in formation.courses %}
                <tr>
                    <td><a class="list-item-link" href="https://moodlecollegesevigne.fr/course/view.php?id={{ cours.idmoodle }}">{{ cours.title }}</a></td>
                    <td>{{ cours.hours }}</td>
                    <td>
                    {% for teacher in cours.teachers %}
                        <div>
                            <!--<a href="#" class="badge badge-dark" {% if teacher.discipline.categorie is defined %}onclick="window.open('ms-excel:ofe|u|//NAS-AGREG/commun/Enseignants_Services/Services_{{ teacher.discipline.categorie }}/{{ teacher.nameFormated }}_fiche_service.xlsx')"{% endif %}>{{ teacher.name }}</a>-->
                            <a href="#" class="badge badge-dark" {% if teacher.discipline.categorie is defined %}onclick="window.open('ms-excel:ofe|u|C:/Users/ourya/Desktop/Lab/Enseignants_Services/Services_{{ teacher.discipline.categorie }}/{{ teacher.nameFormated }}_fiche_service.xlsx')"{% endif %}>{{ teacher.name }}</a>
                        </div>
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

