{% if formation is defined %}
<div class="card">
    <div class="card-body">
        <h1>{{ formation.title }}</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cours</th>
                    <th>Heures</th>
                    <th>Enseignant</th>
                </tr>
            </thead>
            <tbody>
            {% for cours in formation.courses %}
                <tr>
                    <td><a href="https://moodlecollegesevigne.fr/course/view.php?id={{ cours.idmoodle }}">{{ cours.title }}</a></td>
                    <td>{{ cours.hours }}</td>
                    <td style="width: 18%">
                    {% for teacher in cours.teachers %}{{ teacher.name }}, {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

