{% if teacher is defined %}
    <div class="card">
        <div class="card-head">
            <div class="card-head-user"><i class="fas fa-user"></i></div>
            <h1>{{ teacher.firstname }} {{ teacher.lastname }}</h1>
            <div class="card-head-discipline">
                {% if teacher.discipline is not null %}
                <span class="card-head-tag tag-{{ teacher.discipline.code }}">{{ teacher.discipline.title }}</span>
                {% endif %}
            </div>
            <ul>
                <li>Tél : {{ teacher.phone }}</li>
                <li>Email : <a href="mailto:{{ teacher.email }}">{{ teacher.email }}</a></li>
            </ul>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cours</th>
                        <th>Heures</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for subCours in subCourses %}
                    <tr>
                        <td></td>
                        <td>{{ subCours.title }}</td>
                        <td>{{ subCours.hours }}</td>
                        <td><a href="https://moodlecollegesevigne.fr/course/view.php?id={{ subCours.idmoodle }}"><i class="fas fa-eye"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="card-btn">
                <a onclick="window.open('ms-excel:ofe|u|http://NAS-AGREG/commun/Enseignants_Services/Services_Anglais/{{ teacher.lastname }}_fiche_service.xlsx')"> Open Excel </a>

                <!--<a href="{{ asset('Fiches/Chiari_fiche_service.xlsx') }}" class="btn btn-primary">Voir la fiche</a>-->
            </div>
        </div>
    </div>
{% endif %}

