{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.id_moodle) }}
    {{ form_row(form.hours) }}
    {{ form_row(form.teachers) }}
    {{ form_row(form.formations) }}
    {{ form_row(form.discipline) }}
    <button class="btn btn-primary">{{ button|default('Ajouter') }}</button>
{{ form_rest(form) }}
{{ form_end(form) }}
