{% extends 'base.html.twig' %}

{% block title %}Hello BddController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Les Enseignants</h1>

                        {{ form_start(form) }}
                        <div class="input-group">
                            {{ form_widget(form.teacher) }}
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text" id="basic-addon">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">

                        {{ form_start(formCours) }}

                        {{ form_end(formCours) }}
                    </div>
                </div>
            </div>

        </div>




        <div class="row">
            {% include 'bdd/components/card_teacher.html.twig' %}
            <div class="col-lg-4" id="CS_Formation" style="opacity: 0">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Agrégation externe de Géographie</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" id="CS_Cours">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Culture, médias et pouvoir...</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
