{% extends 'base.html.twig' %}

{% block title %}Hello BddController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Les enseignants</h1>

                        {{ form_start(formTeacher) }}
                        <div class="input-group">
                            {{ form_widget(formTeacher.teacher) }}
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text" id="basic-addon">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        {{ form_end(formTeacher) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Les formations</h1>
                        {{ form_start(formFormation) }}
                        <div class="input-group">
                            {{ form_widget(formFormation.formation) }}
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text" id="basic-addon">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        {{ form_end(formFormation) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Les cours</h1>
                        {{ form_start(formCours) }}
                        <div class="input-group">
                            {{ form_widget(formCours.cours) }}
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text" id="basic-addon">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        {{ form_end(formCours) }}
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-lg-4" id="CS_Enseignant">
                {% include 'bdd/components/_card_teacher.html.twig' %}
            </div>
            <div {% if app.request.get('formation') %}class="col-lg-8"{% else %}class="col-lg-4"{% endif %} id="CS_Formation">
                {% include 'bdd/components/_card_formation.html.twig' %}
            </div>
            <div class="col-lg-4" id="CS_Cours">
                {% include 'bdd/components/_card_cours.html.twig' %}
            </div>

        </div>
    </div>
{% endblock %}
