{% extends 'bdd/admin/home.html.twig' %}

{% block title 'Admin' %}

{% block content %}
        <div class="card">
            <div class="card-body">
                <h1>Gérer les formations</h1>
                <div class="text-right mb-3">
                    <a href="{{ path('admin.formation.new') }}" class="btn btn-secondary">Ajouter</a>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Enseignant</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for formation in formations %}
                        <tr>
                            <td>{{ formation.title }}</td>
                            <td></td>
                            <td>
                                <a href="{{ path('admin.formation.edit', {id:formation.id}) }}" class="btn btn-primary">Editer</a>
                                <form method="post" action="{{ path('admin.formation.delete', {id: formation.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}