{% extends 'bdd/admin/home.html.twig' %}

{% block title 'Admin' %}

{% block content %}
        <div class="card">
            <div class="card-body">
                <h2>Gérer les concours</h2>
                <div class="text-right mb-3">
                    <a href="{{ path('admin.concours.new') }}" class="btn btn-secondary">Ajouter</a>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{knp_pagination_sortable(concours, 'Formation', 'f.title')}}</th>
                        <th>Cohorte_moodle</th>
                        <th>{{knp_pagination_sortable(concours, 'Concours', 'f.type')}}</th>
                        <th>{{knp_pagination_sortable(concours, 'Public', 'f.public')}}</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cc in concours %}
                        <tr>
                            <td><a href="{{ path('admin.concours.edit', {id:cc.id}) }}" class="list-item-link">{{ cc.title }}</a></td>
                            <td><span class="badge badge-cs">{{ cc.codeCohorte }}</span></td>
                            <td>{{ cc.type }}</td>
                            <td>{{ cc.public }}</td>
                            <td>
                                <form method="post" action="{{ path('admin.concours.delete', {id: cc.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cc.id) }}">
                                    <button class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>
                    {{ knp_pagination_render(concours) }}
                </div>
            </div>
        </div>
{% endblock %}