{% extends 'bdd/admin/home.html.twig' %}

{% block title 'Admin' %}

{% block content %}
        <div class="card">
            <div class="card-body">
                <h2>Gérer les concours</h2>
                <div class="text-right mb-3">
                    <a href="{{ path('admin.concours.new') }}" class="btn btn-secondary">Ajouter</a>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Enseignant</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in concours %}
                        <tr>
                            <td><a href="{{ path('admin.concours.edit', {id:c.id}) }}" class="list-item-link">{{ c.title }}</a></td>
                            <td></td>
                            <td>
                                <form method="post" action="{{ path('admin.concours.delete', {id: c.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ c.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}